#{extends 'main.html' /}
#{set title:'Home' /}

<h1>HOME</h1>

<p><a href="localhost:9000/@db" TARGET="_new">jdbc:h2:db/h2/play</a></p>
<p><a href="http://www.h2database.com/html/features.html" TARGET="_new">h2database</a></p>
<p><a href="http://www.h2database.com/html/features.html#database_url" TARGET="_new">Database URL Overview</a></p>


<p><a href="http://www.simavirtual.com/njava/dev/" TARGET="_new">dev</a></p>

<p><a href="/links" TARGET="_new">links</a></p>

<p><a href="/admin" TARGET="_new">admin</a></p>

<a href="/Systems">MODELOS</a>





