#{extends 'main.html' /}
#{set title:'Home' /}

<p><a href="/">Home</a></p>

<h2>LINKS</h2>

<h3>Favoritos</h3>

<ol>
<li><a href="#agenda">AGENDA</a></li>
<li><a href="#sima">SIMA</a></li>
</ol>

<a name="agenda"></a>
<li>AGENDA

<ul>GESTION
<li><a href="http://www.simavirtual.com/njava/dev/proyectos.html#proyectos-agenda" target="_blank">Agenda</a></li>
</ul>
</li>

<a name="sima"></a>
<li>SIMA
<ul>Referencias
<li><a href="http://www.simavirtual.com/njava/dev/" target="_blank">Development</a></li>
</ul>
</li>

</ul>
</li>
