#{extends 'main.html' /}
#{set title:'Home' /}

<p><a href="/">Home</a></p>

<h2>LINKS</h2>

<h3>Favoritos</h3>

<ol>
<li><a href="#play">PLAY FRAMEWORK</a></li>
<li><a href="#forge">JBOSS FORGE</a></li>
<li><a href="#wildfly">WILDFLY</a></li>
<li><a href="#mongodb">MONGODB</a></li>
</ol>

<a name="play"></a>
<li>PLAY FRAMEWORK

<ul>Referencias
<li><a href="https://playdoces.appspot.com/" target="_blank">https://playdoces.appspot.com/</a></li>
<li><a href="http://www.playframework.com/" target="_blank">http://www.playframework.com/</a></li>
</ul>

<ul>Documentacion
<li><a href="https://playdoces.appspot.com/documentation/1.2.4/home" target="_blank">Manuales, tutoriales & referencias</a></li>
<li><a href="https://playdoces.appspot.com/documentation/1.2.4/overview" target="_blank">Comenzando a usar play!</a></li>
<li><a href="https://playdoces.appspot.com/documentation/1.2.4/guide1" target="_blank">Guia de play, una verdadera aplicacipn paso a paso</a></li>
<ul>
<li><a href="https://playdoces.appspot.com/documentation/1.2.4/guide2" target="_blank">Una primera iteracion con el modelo de datos</a></li>
<li><a href="https://playdoces.appspot.com/documentation/1.2.4/guide7" target="_blank">Configuracion basica de un area de administracion usando CRUD</a></li>
<li>play dependencies</li>
</ul>
<li><a href="http://playdoces.appspot.com/2.0" target="_blank">Estamos trabajando en Play 2.0</a></li>
<li><a href="http://algo3.uqbar-project.org/play-framework" target="_blank">Programacion de Interfaces de Usuario</a></li>
</ul>

<ul>Morphia
<li><a href="http://www.playframework.com/modules/morphia" target="_blank">Morphia - MongoDB Integration</a></li>
<li><a href="http://www.playframework.com/modules/morphia-1.2.12/home" target="_blank">PlayMorphia module Documentation</a></li>
<li><a href="http://www.playframework.com/modules/morphia-1.2.12/home#guide" target="_blank">Tutorials PlayMorphia guide, adapt YABE from JPA to PlayMorphia</a></li>
<li><a href="http://www.ibm.com/developerworks/java/library/j-morphia/" target="_blank">Domain-model persistence with Morphia and MongoDB</a></li>
</ul>

</li>

<a name="forge"></a>
<li>JBOSS FORME

<ul>Referencias
<li><a href="http://forge.jboss.org/" target="_blank">JBoss Forge</a></li>
</ul>

</li>

<a name="wildfly"></a>
<li>WildFly

<ul>Referencias
<li><a href="http://wildfly.org/" target="_blank">WildFly Homepage</a></li>
<li><a href="http://www.mastertheboss.com/" target="_blank">http://www.mastertheboss.com/</a></li>
<li><a href="http://www.mastertheboss.com/mongodb" target="_blank">Developing applications with MongoDB and PrimeFaces on WildFly</a></li>
</ul>

</li>

<a name="mongodb"></a>
<li>MongoDb

<ul>Referencias
<li><a href="http://www.mongodb.org/" target="_blank">MongoDb Homepage</a></li>
<li><a href="http://www.mongovue.com/downloads/" target="_blank">MongoDB client we will download MongoVue</a></li>

</ul>

</li>
