#{extends 'main.html' /}
#{set title:'Home' /}

<h1>HOME</h1>

<p><a href="@{sima()}">Generar Sima</a></p>
<p><a href="@{simacont()}">Generar SimaCont</a></p>
<p><a href="@{simacart()}">Generar SimaCart</a></p>
<p><a href="@{maebto()}">MaeBto</a></p>
<p><a href="@{recibos()}">Recibos</a></p>

<p><a href="/admin/">ADMIN</a></p>

<p><a href="/Systems">MODELOS</a></p>

<p><a href="file:///D:/dev/njava/modelos/site/target/site/index.html" TARGET="_new">DOMAINS MODELS:</a></p>
<p><a href="https://www.dropbox.com/s/2l9zvablc3oypy0/systems_models_rc2.jpg" TARGET="_new">SYSTEMS MODELS</a></p>
<p><a href="https://www.dropbox.com/s/vkcj35mg8cnprx5/links_models_rc2.jpg" TARGET="_new">LINKS MODELS</a></p>
<p><a href="https://www.dropbox.com/s/6vq400k6hzpc3it/entities_rc2.jpg" TARGET="_new">ENTITIES</a></p>
<p><a href="https://www.dropbox.com/s/88nrzsdfz5wwkmg/attributes_rc2.jpg" TARGET="_new">ATTRIBUTES</a></p>
<p><a href="https://www.dropbox.com/s/zb4jsb11l00lfy4/relationships_rc2.jpg" TARGET="_new">RELATIONSHIPS</a></p>






