#{extends 'main.html' /}
#{set title:'Models' /}

<p><a href="/">Home</a></p>
<p><a href="/Domains?id=${domains.id}">Prev</a></p>

<p>MODELOS:${domains.name}</p>

<table border="1">
	<thead>
	 <tr>
	   <th>Orden</th>
	   <th>name</th>
	   <th>Actions</th>
	</tr>
	</thead>

	<tbody>
	    #{list domains.models, as:'model'}
	    <tr>
               <td>${model.orden}</td>
 	       <td><a href="@{entities(model.id)}">${model.name}</a></td>
 	       <td><a href="model/show?id=${model.id}">Edit</a>
                   <a href="${model.link}" target="_new">Modelo</a>
               </td>
   	    </tr>
	    #{/list}
	</tbody>
</table>

