#{extends 'main.html' /}
#{set title:'Models' /}

<p><a href="/">Home</a></p>
<p><a href="/Entities?id=${entities.id}">Prev</a></p>

<p>ENTITY:${entities.name}</p>

<table border="1">
	<thead>
	 <tr>
	   <th>Orden</th>
	   <th>name</th>
	   <th>descripcion</th>
	   <th>type</th>
	   <th>length</th>
	   <th>precision</th>
	   <th>nullable</th>
	   <th>unico</th>
	   <th>Action</th>
	</tr>
	</thead>

	<tbody>
	    #{list entities.attributes, as:'attribute'}
	    <tr>
               <td>${attribute.orden}</td>
 	       <td><a href="@{attributes(attribute.id)}">${attribute.name}</a></td>
               <td>${attribute.descripcion}</td>
               <td>${attribute.typesAttributes.type}</td>
               <td>${attribute.length}</td>
               <td>${attribute.precision}</td>
               <td>${attribute.nullable}</td>
               <td>${attribute.unico}</td>
 	       <td><a href="attribute/show?id=${attribute.id}">Edit</a></td>
   	    </tr>
	    #{/list}
	</tbody>
</table>

