#{extends 'main.html' /}
#{set title:'Models' /}

<p><a href="/">Home</a></p>
<p><a href="/Models?id=${models.id}">Prev</a></p>

<p>ENTIDADES:${models.name}</p>

<table border="1">
	<thead>
	 <tr>
	   <th>Orden</th>
	   <th>name</th>
	   <th>Action</th>
	</tr>
	</thead>

	<tbody>
	    #{list models.entities, as:'entity'}
	    <tr>
               <td>${entity.orden}</td>
 	       <td><a href="@{attributes(entity.id)}">${entity.name}</a></td>
 	       <td>
                  <a href="entity/show?id=${entity.id}">Edit</a>
                  <a href="@{frameworks(entity.id)}">Generar</a>
               </td>
   	    </tr>
	    #{/list}
	</tbody>
</table>

