#{extends 'main.html' /}
#{set title:'Models' /}

<p><a href="/">Home</a></p>
<p><a href="/Models?id=${models.id}">Prev</a></p>

<p>ENTIDADES:${models.name}</p>

<table border="1">
	<thead>
	 <tr>
	   <th>Orden</th>
	   <th>name</th>
	   <th>Action</th>
	</tr>
	</thead>

	<tbody>
	    #{list models.entities, as:'entity'}
	    <tr>
               <td>${entity.orden}</td>
 	       <td><a href="@{attributes(entity.id)}">${entity.name}</a></td>
 	       <td><a href="entity/show?id=${entity.id}">Edit</a></td>
   	    </tr>
	    #{/list}
	</tbody>
</table>

<p>RELATIONS</p>
<table border="1">
	<thead>
	 <tr>
	   <th>Relations</th>
	   <th>cardinality</th>
	   <th>Action</th>
	</tr>
	</thead>

	<tbody>
	    #{list models.entities, as:'entity'}
	       #{list entity.from, as:'relation'}
	           <tr>
	             <td><B>${relation.cardinalities.cardinality}</B>:${relation.from.name} <B>TO</B> ${relation.to.name}</td>
                     <td>${relation.cardinalities.name}</td>
 	             <td><a href="">Edit</a></td>
   	           </tr>
   	       #{/list}
	    #{/list}
	</tbody>

</table>
